@mixin hook-form {
    border: 2px solid $global-border;
    background: #fbfbfb;
    border-radius: 3px;
    padding: 5px 10px;
    height: 50px;
}

@mixin hook-button {
    border-radius: 3px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}