/*
 |------------------------------------------------
 | VARIABLES USED FOR THEMING
 |------------------------------------------------
*/

// COLORS
$colors: (
    primary: #E85359,
    secondary: #C9EDEB,
    muted: #FFF9E9,
    tint: #FF9E92,
    success: #359668,
    warning: #FFD54F,
    danger: #F13841,
    info: #49ADEB,
    dark: #3B3B3B,
    light: #F2F2F2
);

$font-family: 'Poppins', sans-serif;