@import './fonts';

@import './variables';
@import './functions';
@import './mixins';

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

@import "./hooks";

@import "uikit/src/scss/uikit-theme.scss";

* {
    padding: 0;
    margin: 0;
}

html, body {
    background: $secondary;
}

@import './site'